*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
:root{
    --primary-dark:#043873;
    --primary-light:#4F9CF9;
    --secondary-yellow:#FFE492;
    --secondary-blue:#A7CEFC;
    --secondary-white:#FFFFFF;
    --secondary-black:#212529;
}
/* navbar */
.navbar{
    background-color: var(--primary-dark);
}
.navbar .btn-free{
    width: 200px;
}
.navbar ul.navbar-nav li a{
    color: var(--secondary-white);
}

.navbar ul.navbar-nav li a:active,
.navbar ul.navbar-nav li a:visited,
.navbar ul.navbar-nav li a:focus,
.navbar ul.navbar-nav li a:hover{
    color: var(--secondary-white);
}
.navbar .btns{
    width: 277px;
}
/* navbar */
/* hero */
.hero {
    background-color: var(--primary-dark);
    min-height: calc(100vh - 76px);
    overflow-x: hidden; 
}

.hero .info p,
.hero .info h1 {
    max-width: 90%;
}
/* hero */
/* work-management */
/* .work-management::after{
    content: '';
    width: 243px;
    height: 4px;
    background-color: var(--secondary-yellow);
    position: absolute;
    bottom: 61%;
    right: 67%;
    transform: translateX(-50%);
}  */
/* work-management */
.my-img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.p-top {
    padding-top: 55px;
}

.p-bottom {
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .p-top {
        padding-top: 30px;
    }
    
    .hero {
        /* min-height: auto; */
        padding-bottom: 50px;
    }
}