*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
:root{
    --primary-dark:#043873;
    --primary-light:#4F9CF9;
    --secondary-yellow:#FFE492;
    --secondary-blue:#A7CEFC;
    --secondary-white:#FFFFFF;
    --secondary-black:#212529;
}
/* navbar */
.navbar{
    background-color: var(--primary-dark);
}
.navbar .btn-free{
    width: 200px;
}
.navbar ul.navbar-nav li a{
    color: var(--secondary-white);
}

.navbar ul.navbar-nav li a:active,
.navbar ul.navbar-nav li a:visited,
.navbar ul.navbar-nav li a:focus,
.navbar ul.navbar-nav li a:hover{
    color: var(--secondary-white);
}
.navbar .btns{
    width: 277px;
}
/* navbar */
/* hero */
.hero {
    background-color: var(--primary-dark);
    min-height: calc(100vh - 76px);
    overflow-x: hidden; 
}

.hero .info p,
.hero .info h1 {
    max-width: 90%;
}
/* hero */
/* work-management */
/* .work-management::after{
    content: '';
    width: 243px;
    height: 4px;
    background-color: var(--secondary-yellow);
    position: absolute;
    bottom: 61%;
    right: 67%;
    transform: translateX(-50%);
}  */
/* work-management */
/* content */
.big-circle,
.small-circle{
    border-radius: 50%;
    border:1px dashed var(--primary-light);
}
.big-circle{
    width: 500px;
    height: 500px;
}
.small-circle{
    width: 300px;
    height: 300px;
    bottom: 26%;
    left:24% ;
    transform: translateX(-50%);
}

.work-together-img{
    padding: 16px;
    border-radius: 8px;
    background-color: var(--secondary-white);
    box-shadow: 0px 12px 50px 0px rgba(0, 0, 0, 0.4);
    bottom: 43%;
    left: 23.5%;
    transform: translateX(-50%);
}
.c-1{
    background-color: #FFDC4D;
    left: 10%;
    background-color: #FFDC4D;
    bottom: 16%;
}
.c-2{
    background-color: #FF5758;
    bottom: 58%;
    left: 7.5%;
}
.c-3{
    background-color: #37A3FF;
    bottom: 69%;
    left: 36%;
}
.c-4{
    background-color: #00CA75;
    bottom: 87%;
    left: 21%;
}
.c-5{
    background-color: #37A3FF;
    bottom: 17%;
    left: 34%;
}
.c-w{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cs-1,.cs-3{
    background-color:#37A3FF ;
}
.cs-1{
    bottom: 46%;
    left: 12%;
}
.cs-3{
    bottom: 46%;
    left: 32%;
}
.cs-2{
    background-color: #00CA75;
    bottom: 22%;
    left: 22%;
}
.cs-4{
    background-color: #FFBF60;
    bottom: 71%;
    left: 22%;
}
/* content */
.my-img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.p-top {
    padding-top: 55px;
}

.p-bottom {
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .p-top {
        padding-top: 30px;
    }
    
    .hero {
        /* min-height: auto; */
        padding-bottom: 50px;
    }
}