*{
    font-family: "Inter", sans-serif;
}
:root{
    --primary-dark:#043873;
    --primary-light:#4F9CF9;
    --secondary-yellow:#FFE492;
    --secondary-blue:#A7CEFC;
    --secondary-white:#FFFFFF;
    --secondary-black:#212529;
}
/* navbar */
.navbar{
    background-color: var(--primary-dark);
}
.navbar .btn-free{
    width: 200px;
}
.navbar ul.navbar-nav li a{
    color: var(--secondary-white);
}

.navbar ul.navbar-nav li a:active,
.navbar ul.navbar-nav li a:visited,
.navbar ul.navbar-nav li a:focus,
.navbar ul.navbar-nav li a:hover{
    color: var(--secondary-white);
}
.navbar .btns{
    width: 277px;
}
/* navbar */
/* hero */
.hero{
    background-color: var(--primary-dark);
    height: 100vh;
}
.hero .info h1{
    width: 500px;

}
/* hero */
.my-img {
    width: 639px;
    height: 400px;
}
.p-top{
    padding-top: 100px;
}

